<%= form_with(model: service, local: true) do |f| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control mb-2" id="link" name="service[link]" value="<%= service.link %>" placeholder="Link">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control mb-2" id="title" name="service[title]" value="<%= service.title %>" placeholder="Title">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control mb-2" id="service_heading" name="service[heading]" value="<%= service.heading %>" placeholder="Heading">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control mb-2" id="service_content" name="service[content]" value="<%= service.content %>" placeholder="Content">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <br><%= f.submit "Submit" , :class =>"btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
