<p id="notice"><%= notice %></p>

<h1>Webusers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webusers.each do |webuser| %>
      <tr>
        <td><%= webuser.name %></td>
        <td><%= webuser.email %></td>
        <td><%= link_to 'Show', webuser %></td>
        <td><%= link_to 'Edit', edit_webuser_path(webuser) %></td>
        <td><%= link_to 'Destroy', webuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webuser', new_webuser_path %>
