<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webuser.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @webuser.email %>
</p>

<%= link_to 'Edit', edit_webuser_path(@webuser) %> |
<%= link_to 'Back', webusers_path %>
