<%= render 'navigation/main' %>
  <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
	<% if @article.image.attachment != nil %>
		<div align="center"><%= image_tag(@article.image, width: "100%") %></div>
	<% end %>
	<h1 align=left><%= @article.title %></h1>
</main>
<section class="jumbotron text-center">
	<div class="container">
	<h2 align="right"><%= @article.heading %></h2><br>
	<p class="lead text-muted" align="right" ><%= raw(@article.content) %><p>
		<%# link_to "Pages", pages_path, :class => "btn btn-primary my-2" %>		<%# link_to "Subpages", subpages_path,:class =>"btn btn-secondary my-2" %>
	</p>
	</div>
</section>