<%= form_with(model: page, local: true) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <% users_array = User.all.map { |user| [user.name, user.id] } %>
    <%= form.select(:user_id, :class =>".custom-select") do %>
    <%= options_for_select(users_array) %>
    <% end %>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control mb-2" id="title" name="<%= controller %>[title]" placeholder="title">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control mb-2" id="link" name="<%= controller %>[link]" placeholder="Link">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control mb-2" id="heading" name="<%= controller %>[heading]" placeholder="Heading">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control mb-2" id="content" name="<%= controller %>[content]" placeholder="<div>raw</div> HTML content">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <div class="custom-file">
        <input type="file" class="image-file-input" id="image" name=<% controller %>[image]">
        <label class="image-label" for="image">Choose Photo</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <div class="custom-file">
        <input type="file" class="thumbimage-file-input" id="thumbimage" name=<% controller %>[thumbimage]">
        <label class="thumbimage-label" for="thumbimage">Choose Photo</label>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
