<%
  if @home == nil
    @placeholder_content = "Content"
    @placeholder_title = "Page Title"
    @placeholder_description = "Description"
  else
    @placeholder_content = @home.content
    @placeholder_title = @home.title
    @placeholder_description = @home.description
    @value_content = @home.content
    @value_title = @home.title
    @value_description = @home.description
  end
%>
</head>
    <body class="text-center" >
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <%= render "navigation/header" %>
          <main role="main" class="cover" >
            <div class="row">
              <div class="col">
                <div class="form">
                  <%= form_with(model: @home, local: true) do |f| %>
                    <% if @home.errors.any? %>
                      <div class="form-row">
                        <div id="error_explanation">
                          <h2><%= pluralize(@home.errors.count, "error") %> prohibited this page from being saved:</h2>
                           <ul>
                             <% @home.errors.full_messages.each do |message| %>
                               <li><%= message %></li>
                             <% end %>
                          </ul>
                        </div>
                      </div>
                    <% end %>           
                    <div class="form-row">
                      <div class="col-xl-12 m-auto">
                        <input class="text form-control mb-2 required" id="title" name="home[title]" placeholder="<%= @placeholder_title %>" value="<%= @value_title %>">
                        <input class="text form-control mb-2 required" id="description" name="home[descripition]" placeholder="<%= @placeholder_description %>" value="<%= @value_description %>">
                        <textarea class="form-control mb-2 required" id="content" name="home[content]" placeholder="<%= @placeholder_content %>" rows="20" ><%= @value_content %></textarea>
                      <%= f.label :image %>
                      <%= f.file_field :image %>
                    <div class="actions"><%= f.submit %></div>
                  <% end %>
                </div>
              </div>
            </div>
        </main>
      </div>
    </body>