<% @mystyle = Style.find_by home: @home.id %>
<%	if @mystyle %>
		<%= stylesheet_link_tag @mystyle.style %>
		<%= stylesheet_link_tag @mystyle.sheet %>
<%	end %>
</header>
    <body class="text-center" >
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<%= render "navigation/header" %>
			<%= raw @home.content.html_safe %>
			<%= render "navigation/footer" %>
	</div>
</body>
