<%= form_with(model: @photo, local: true) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <main>
  <% users_array = User.all.map { |user| [user.name, user.id] } %>
  <%= f.select(:user_id, :class =>".custom-select") do %>
      <%= options_for_select(users_array) %>
  <% end %><br>
  <% services_array = Service.all.map { |service| [service.link, service.id] } %>
  <%= f.select(:service_id, :class =>".custom-select") do %>
    <%= options_for_select(services_array) %>
  <% end %><br>
  <input type="text" class="form-control mb-2" id="caption" name="photo[caption]" value="<%= @photo.caption %>" placeholder="caption"><br>
  <input type="text" class="form-control mb-2" id="seq" name="photo[seq]" value="<%= @photo.seq %>" placeholder="1 to 100"><br>
  <%#
    if @photo.image.attachment == nil
      @photo_url = url_for(@photo.image)
    else
      @photo_url = "No File"
    end
  %>
  <label class="image-file-label" for="imageFile" name="photo[image]">Choose file</label><br>
  <%= f.file_field :image %>
  <br><%= f.submit "Submit" , :class =>"btn btn-lg btn-primary" %>
<% end %>
