<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">

<% if @page == nil && @subpage == nil && @article == nil %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Our Pages</h4>
          <p class="text-muted">Her we find our little pages</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/ForgetMeNot.Natural/" class="text-white">Facebook</a></li>
            <li><a href="https://www.etsy.com/shop/FMNNaturalApothecary" class="text-white">Etsy</a></li>
            <li><a href="mailto://jennymannhopkins@gmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">More Info -> <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Pages <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <% Page.find_each do |p| %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/pages/<%= p.id %>" id="Pages"><%= p.link+" - " + p.title %><span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="Pages">
                <div class="dropdown-item" ><%= link_to p.link, p, :class =>"text-white" %></div>
                 <div class="dropdown-divider"></div>
                 <% Subpage.where(page_id: p.id).find_each do |sp| %>
                  <%= link_to " - "+sp.link + " - " + sp.title, sp , :class =>"dropdown-item" %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% elsif @page != nil %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Our Page</h4>
          <p class="text-muted">Her we find our little Page</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/ForgetMeNot.Natural/" class="text-white">Facebook</a></li>
            <li><a href="https://www.etsy.com/shop/FMNNaturalApothecary" class="text-white">Etsy</a></li>
            <li><a href="mailto://jennymannhopkins@gmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        Subpages <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <%= @page.link %> <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <% Subpage.where(page_id: @page.id).find_each do |sp| %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/pages/<%= @page.id %>/subpages/<%= sp.id %>" id="Subpages"><%= sp.link %><span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="Subpages">
                <div class="dropdown-item" ><%= link_to sp.link, page_subpage_url(@page.id,sp.id), :class =>"text-white" %></div>
                <div class="dropdown-divider"></div>
                <% Article.where(subpage_id: sp.id).find_each do |a| %>
                  <%= link_to " - " + a.link + " - " + a.title, page_subpage_article_url(@page.id,sp.id,a.id) , :class =>"dropdown-item" %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% elsif @subpage != nil %>
        <% @page = Page.find_by id: @subpage.page_id %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Our Articles</h4>
          <p class="text-muted">Her we find our little articles</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/ForgetMeNot.Natural/" class="text-white">Facebook</a></li>
            <li><a href="https://www.etsy.com/shop/FMNNaturalApothecary" class="text-white">Etsy</a></li>
            <li><a href="mailto://jennymannhopkins@gmail.com" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/pages/<%= @page.id %>" class="navbar-brand d-flex align-items-center">
        <strong> <- <%= @page.link %></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <%= @subpage.link %>
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle" data-toggle="dropdown" href="/pages/<%= @page.id %>/subpages/<%= @subpage.id %>" id="Articles"><%= @page.link+"-"+@subpage.link %><span class="caret"></span></div>
            <div class="dropdown-menu" aria-labelledby="Articles">
                <div class="dropdown-item" ><%= link_to @subpage.link, page_subpage_url(@page.id,@subpage.id), :class =>"text-white" %></div>
               <div class="dropdown-divider"></div>
               <% Article.where(subpage_id: @subpage.id).find_each do |a| %>
                <%= link_to a.link + " - " + a.title, page_subpage_article_url(@page.id,@subpage.id,a.id) , :class =>"dropdown-item" %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>