<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
<% if @page == nil && @subpage == nil && @article == nil %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"><%= link_to "Home", pages_url, :class =>"text-white" %></h4>
          <p class="text-muted">np Forget Me Not Natural Home Apothocary</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h5 class="text-white">Links</h5>
          <ul class="list-unstyled">
            <% Page.find_each do |p| %>
              <li><h6><%= link_to p.link, page_url(p), :class =>"text-white" %></h6></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<% elsif @page != nil %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"><%= link_to "Home", pages_url, :class =>"text-white" %></h4>
          <p class="text-muted">Forget Me Not Natural Home Apothocary</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h5 class="text-white">Links</h5>
          <ul class="list-unstyled">
            <% Subpage.where(page_id: @page.id).find_each do |sp| %>
              <li><h6><%= link_to sp.link,page_subpage_url(@page,sp), :class =>"text-white" %></h6></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<% elsif @subpage != nil %>
        <% page = Page.find_by id: @subpage.page_id %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4><%= link_to "Home", "/", :class=>"text-white" %></h4>
          <p class="text-muted">Forget Me Not Natural Home Apothocary</p>
          <h5><%= link_to page.link, page_url(page.id), :class=>"text-white" %></h5>
          <p class="text-muted"><%= page.content %></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h5 class="text-white">Links</h5>
          <ul class="list-unstyled">
            <% Article.where(subpage_id: @subpage.id).find_each do |a| %>
              <li><h6><%= link_to a.link, page_subpage_article_url(page,@subpage,a), :class =>"text-white" %></h6></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/pages/<%= page.id %>" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<% elsif @article != nil %>
        <% subpage = Subpage.find_by id: @article.subpage_id %>
        <% page = Page.find_by id: subpage.page_id %>
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white"><%= link_to "Home", pages_url, :class =>"text-white" %></h4>
          <p class="text-muted">Forget Me Not Home Page</p>
          <h4 class="text-white"><%= link_to page.link, page_url(page), :class =>"text-white" %></h4>
          <p class="text-muted"><%= page.heading %></p>          <h5 class="text-white"><%= link_to subpage.link, page_subpage_url(page.id,subpage.id), :class =>"text-white" %></h5>
          <p class="text-muted"><%= subpage.heading %></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h6 class="text-white">Related:</h6>
          <ul class="list-unstyled">
            <% Article.where(subpage_id: @article.subpage_id).find_each do |a| %>
              <li><h7><%= link_to a.link, page_subpage_article_url(page.id,subpage.id,a.id), :class =>"text-white" %></h7></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/pages/<%= page.id %>" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<% end %>
