<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @subpage.title %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @subpage.heading %>
</p>

<p>
  <strong>User:</strong>
  <%= @subpage.user.name %>
</p>
<p>
  <strong>Link:</strong>
  <%= link_to @subpage.link, @subpage %>
</p>
<p>
  <strong>Content:</strong>
  <%= @subpage.content %>
</p>

<p>
  <strong>Found on Pages</strong>
    <%= Page.where(id: @subpage.id).find_each do |p| %>
      <%= link_to p.link, p %><br>
    <% end %>
</p>
<p>
  <strong>articles</strong>
    <%= Article.where(subpage_id: @subpage.id).find_each do |p| %>
      <%= link_to p.link, p %><br>
    <% end %>
</p>

<%= link_to 'Edit', edit_subpage_path(@subpage) %> |
<%= link_to 'Back', subpages_path %>
